@import "normalize.scss";
@import "font-awesome.min.scss";
@import "sidebar.scss";
@import "footer.scss";


.about{
   width: 86vw;
   margin-left: $width-sidebar+1.25rem;
   margin-right: 1.88rem;
   border: 1px solid white;

   /* Portrait tablets and small desktops */
   @media (min-width: 768px) and (max-width: 991px) {
       margin-right: 20px;
       width: 80vw;
   }

   /* Landscape phones and portrait tablets */
   @media (max-width: 767px) {
       margin-right: 20px;
       width: 74vw;
   }

   @media (max-width: 480px) {
      margin-left: 10px;
      margin-right: 10px;
      width: 90vw;
      padding-top: 30px;
   }
   /* Для альбомной ориентации телефонов */

   @media (max-width: 767px) and (orientation:landscape) {
       padding-top: 30px;
       margin-left: 10px;
       margin-right: 10px;
        width: 96vw;
   }
   @media (max-width: 480px) and (orientation:landscape) {
       padding-top: 30px;
       width: 100vw;
       margin-left: 10px;
       margin-right: 10px;
       width: 96vw;
   }


}
.about__container, .skill__container, .opinion__container{
   max-width: 59.38rem;
   margin: 0 auto;
   text-align: center;
   @media (max-width: 767px) and (orientation:landscape) {

   }
   @media (max-width: 480px) and (orientation:landscape) {

   }
}
.h1{
   font-family: Montserrat;
   font-size: 1.5rem;
   font-weight: 500;
   text-transform: uppercase;
   color: #000000;
}
.h2{
   font-size: 1rem;
   font-weight: 400;
   font-family: Montserrat;
   text-transform: uppercase;
   color: #a8a8a8;

}
.head-section{
   margin-top: 6.25rem;
   border-bottom: .13rem solid #e1e1e1;
   padding-bottom: 2rem;
   position: relative;
   &::after{
   position: absolute;
   content: "";
   height: .75rem;
   width: .75rem;
   background: #362cb1;
   border-radius: 50%;
   bottom:  0;
   transform: translateY(50%);
   }
}
.title-box{

}
.info {
   display: flex;
   margin-top: 5rem;

   @media (max-width: 767px) {
      flex-wrap: wrap;
      justify-content: center;
   }

   @media (max-width: 480px) {
     flex-wrap: wrap;
    justify-content: center;
   }
}

.info__box-img {
   height: 16.88rem;
   width: 13.75rem;
   border: .13rem solid black;
   @media (max-width: 767px) {
      margin-bottom: 40px;
   }

   @media (max-width: 480px) {
      margin-bottom: 40px;
   }
}

.info__img {
   height: 100%;
}
.info__right{
   display: flex;
   justify-content: flex-start;
   flex-wrap:wrap;
}
.info__list {
   flex-grow: 1;
   margin-top: 0px;
   margin-bottom: 0;
   padding-left: 0;
   margin-left: 3.13rem;
   @media (max-width: 480px) {
      margin-bottom: 30px;
   }

}

.info__item {
   text-align: left;
   padding: .63rem;
   font-family: Montserrat;
   color: #5a5a5a;
   font-size: .88rem;
   font-weight: 400;
   padding-top: 0;
   padding-left: 0;
   &:last-child{
      padding-bottom: 0;
      margin-bottom: 0;
   }
   @media (max-width: 480px) {
      font-size: 1.1rem;
   }
}

.info__text_bold {
   font-family: Montserrat;
   font-size: .88rem;
   font-weight: 600;
   color: #35373e;
   margin-right: .31rem;
   @media (max-width: 480px) {
      font-size: 1.2rem;
   }
}
.info_box-text{
   margin-left: 3.13rem;
}
.info__text{
   line-height: 1.38rem;
   font-weight: 400;
   color: #5a5a5a;
   font-family: Montserrat;
   font-size: .88rem;
   text-align: justify;
   text-indent: 2.19rem;
   @media (max-width: 480px) {
      font-size: 1.1rem;
   }
}
.resume-btn{
   margin-left: 3.13rem;
   border: .13rem solid #35373e;
   height: 2.19rem;
}
.resume-btn__Link{
   display: block;
   font-family: Montserrat;
   font-size: .75rem;
   font-weight: 600;
   text-transform: uppercase;
   color: #35373e;
   padding: .63rem 1.25rem;
   &:hover{
      background-color: #adff6e;
      transform: scale(1.2);
      color:#5a5a5a;
   }
   &:active{
      background-color: #adff6e;
      transform: scale(1.2);
      color:#5a5a5a;
       box-shadow: inset .31rem .31rem .5rem rgba(160, 160, 140, 0.5);
   }
}
.mysite-link {

}


.skill-list-box{
   display: flex;
}
.skill__list {
   text-align: left;
   margin-top: 2.81rem;
   padding-left: 0;
   flex-basis: 45%;
   justify-content: space-between;
   &:last-child{
      margin-left: 10%;
   }

}

.slill__item {
   color: #35373e;
   font-family: Montserrat;
   font-size: .88rem;
   font-weight: 600;
   text-transform: uppercase;
   padding: 1.25rem .63rem;
   border-bottom: .13rem solid #e0e0e0;
   padding-left: 0;
   margin-top: .63rem;

}
.opinion {

}
#slider {
  position: relative;
}

.feedback{
    margin-left: 0;
    padding-left: 0;
}

.feedback__item {
   max-width: 40.63rem;
   margin: 0 auto;
   text-align: center;
   margin-top: 3.75rem;
   padding-left: 0;

}

.feedback__text {
   line-height: 1.38rem;
   font-weight: 400;
   color: #5a5a5a;
   font-family: Montserrat;
   font-size: 1rem;
   text-align: justify;
   text-align: center;
}

.feedback__person {

}

.feedback__img-box {
   margin: 0 auto;
   width: 5rem;
   height: 5rem;
   margin-top: 2.5rem;

}

.feedback__img {
   max-width: 100%;
   border-radius: 50%;
}

.feedback__name {
   color: #3e3e3e;
   font-family: Montserrat;
   font-size: .88rem;
   font-weight: 300;
   font-weight: 600;

}

.feedback__company {
   color: #3e3e3e;
   font-family: Montserrat;
   font-size: .88rem;
   font-weight: 300;
   font-weight: 400;
}
.active-feedback{
   display: block;
}
