@import "normalize.scss";
@import "font-awesome.min.scss";
@import "sidebar.scss";
@import "footer.scss";
.about{
   width: 86vw;
   margin-left: $width-sidebar+20px;

}
.about__container, .skill__container, .opinion__container{
   max-width: 950px;
   margin: 0 auto;
   text-align: center;
}
.h1{
   font-family: Montserrat;
   font-size: 24px;
   font-weight: 500;
   text-transform: uppercase;
   color: #000000;
}
.h2{
   font-size: 16px;
   font-weight: 400;
   font-family: Montserrat;
   text-transform: uppercase;
   color: #a8a8a8;

}
.head-section{
   margin-top: 100px;
   border-bottom: 2px solid #e1e1e1;
   padding-bottom: 32px;
   position: relative;
   &::after{
   position: absolute;
   content: "";
   height: 12px;
   width: 12px;
   background: #362cb1;
   border-radius: 50%;
   bottom:  0;
   transform: translateY(50%);
   }
}
.title-box{

}
.info {
   display: flex;
   margin-top: 80px;
}

.info__box-img {
   height: 270px;
   width: 220px;
   border: 2px solid black;
}

.info__img {
   height: 100%;
}
.info__right{
   display: flex;
   justify-content: flex-start;
   flex-wrap:wrap;
}
.info__list {
   flex-grow: 1;
   margin-top: 0;
   margin-bottom: 0;
   padding-left: 0;
   margin-left: 50px;
}

.info__item {
   text-align: left;
   padding: 10px;
   font-family: Montserrat;
   color: #5a5a5a;
   font-size: 14px;
   font-weight: 400;
   padding-top: 0;
   padding-left: 0;
   &:last-child{
      padding-bottom: 0;
      margin-bottom: 0;
   }
}

.info__text_bold {
   font-family: Montserrat;
   font-size: 14px;
   font-weight: 600;
   color: #35373e;
   margin-right: 5px;
}
.info_box-text{
   margin-left: 50px;
}
.info__text{
   line-height: 22px;
   font-weight: 400;
   color: #5a5a5a;
   font-family: Montserrat;
   font-size: 14px;
   text-align: justify;
   text-indent: 35px;
}
.resume-btn{
   margin-left: 50px;
   border: 2px solid #35373e;
   height: 35px;
}
.resume-btn__Link{
   display: block;
   font-family: Montserrat;
   font-size: 12px;
   font-weight: 600;
   text-transform: uppercase;
   color: #35373e;
   padding: 10px 20px;
   &:hover{
      background-color: #adff6e;
      transform: scale(1.2);
      color:#5a5a5a;
   }
   &:active{
      background-color: #adff6e;
      transform: scale(1.2);
      color:#5a5a5a;
       box-shadow: inset 5px 5px 8px rgba(160, 160, 140, 0.5);
   }
}
.mysite-link {

}


.skill-list-box{
   display: flex;
}
.skill__list {
   text-align: left;
   margin-top: 45px;
   padding-left: 0;
   flex-basis: 45%;
   justify-content: space-between;
   &:last-child{
      margin-left: 10%;
   }

}

.slill__item {
   color: #35373e;
   font-family: Montserrat;
   font-size: 14px;
   font-weight: 400;
   text-transform: uppercase;
   padding: 20px 10px;
   border-bottom: 2px solid #e0e0e0;
   padding-left: 0;
   margin-top: 10px;
}
.opinion {

}

.feedback {
   max-width: 650px;
   margin: 0 auto;
   display: none;
   text-align: center;
   margin-top: 60px;

}

.feedback__text {
   line-height: 22px;
   font-weight: 400;
   color: #5a5a5a;
   font-family: Montserrat;
   font-size: 16px;
   text-align: justify;
   text-align: center;
}

.feedback__person {

}

.feedback__img-box {
   margin: 0 auto;
   width: 80px;
   height: 80px;
   margin-top: 40px;

}

.feedback__img {
   max-width: 100%;
   border-radius: 50%;
}

.feedback__name {
   color: #3e3e3e;
   font-family: Montserrat;
   font-size: 14px;
   font-weight: 300;
   font-weight: 600;

}

.feedback__company {
   color: #3e3e3e;
   font-family: Montserrat;
   font-size: 14px;
   font-weight: 300;
   font-weight: 400;
}
.active-feedback{
   display: block;
}
