
.foooter {
   box-sizing: border-box;
   height: $height-footer;
   box-shadow: inset 0 .38rem 1.25rem rgba(0, 0, 0, 0.15);
   padding-top: 1.8rem;
   padding-bottom: 1.8rem;
   margin-left: $width-sidebar;
   margin-top: -$height-footer;
   @media (max-width: 480px) {
      margin-left: 0;
      margin-right: 0;
   }

}



.footer__conrainer {
   max-width: 59.38rem;
   margin: 0 auto;
   text-align: center;
}

.foooter__text {
   color: #5a5a5a;
   font-family: Montserrat;
   font-size: .88rem;
   font-weight: 400;
   margin: 0 auto;

}
