
.foooter {
   box-sizing: border-box;
   height: $height-footer;
   box-shadow: inset 0 6px 20px rgba(0, 0, 0, 0.15);
   padding-top: 40px;
   margin-left: $width-sidebar;
   margin-top: -$height-footer;

}



.footer__conrainer {
   max-width: 950px;
   margin: 0 auto;
   text-align: center;
}

.foooter__text {
   color: #5a5a5a;
   font-family: Montserrat;
   font-size: 14px;
   font-weight: 400;
   margin: 0 auto;

}
