@import "normalize.scss";
@import "font-awesome.min.scss";
@import "sidebar.scss";
@import "footer-resume.scss";
.wrapper{
    min-height: 100vh;
	overflow: hidden;
	position: relative;
    &::after{
        content: "";
       display: block;
       height: $height-footer;
       overflow: hidden;
    }
}
.my-work{
   width: 86vw;
   margin-left: $width-sidebar+1.25rem;
   margin-right: .94rem;
   padding-top: 30%;
   /* Portrait tablets and small desktops */
   @media (min-width: 768px) and (max-width: 991px) {
       margin-right: 20px;
       width: 80vw;
   }

   /* Landscape phones and portrait tablets */
   @media (max-width: 767px) {
       margin-right: 20px;
       width: 74vw;
   }

   @media (max-width: 480px) {
      margin-left: 10px;
      margin-right: 10px;
      width: 90vw;
   }

}
.my-work__container{
   max-width: 59.38rem;
   margin: 0 auto;

}
.head-section{
   margin-top: 6.25rem;
   border-bottom: .13rem solid #e1e1e1;
   padding-bottom: 2rem;
   position: relative;
   text-align: center;
   &::after{
   position: absolute;
   content: "";
   height: .75rem;
   width: .75rem;
   background: #362cb1;
   border-radius: 50%;
   bottom:  0;
   transform: translateY(50%);
   }
}
.h1{
   font-family: Montserrat;
   font-size: 1.5rem;
   font-weight: 500;
   text-transform: uppercase;
   color: #000000;
}
.h2{
   font-size: 1rem;
   font-weight: 400;
   font-family: Montserrat;
   text-transform: uppercase;
   color: #a8a8a8;

}
