@import "normalize.scss";
@import "font-awesome.min.scss";
@import "sidebar.scss";
@import "footer-resume.scss";
.wrapper{
    min-height: 100%;
	overflow: hidden;
	position: relative;

    &::after{
        content: "";
       display: block;
       height: $height-footer;
       overflow: hidden;
    }
}
.resume{
   width: 86vw;
   margin-left: $width-sidebar+20px;
   margin-right: 15px;
   padding-bottom: $height-footer+60px;

}
.resume__container{
   max-width: 950px;
   margin: 0 auto;

}
.head-section{
   margin-top: 100px;
   border-bottom: 2px solid #e1e1e1;
   padding-bottom: 32px;
   position: relative;
   text-align: center;
   &::after{
   position: absolute;
   content: "";
   height: 12px;
   width: 12px;
   background: #362cb1;
   border-radius: 50%;
   bottom:  0;
   transform: translateY(50%);
   }
}
.h1{
   font-family: Montserrat;
   font-size: 24px;
   font-weight: 500;
   text-transform: uppercase;
   color: #000000;
}
.h2{
   font-size: 16px;
   font-weight: 400;
   font-family: Montserrat;
   text-transform: uppercase;
   color: #a8a8a8;

}
.experience {
    display: flex;
    margin-top: 75px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.experience__left {
    width: 47%;
}

.resume__title {
    background-color:#DDDDDD;
    color: #000000;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 0 15px 20px;
    border-radius: 5px;

    .fa {
        font-size: 22px;
        color: #362cb1;
        font-weight: 400;
        margin-right: 15px;

    }
}



.education, .work {
    padding: 0;
    border-left: 2px solid #d1d1d1;
    margin-top: 50px;
    margin-left: 5px;
}
.work {

}
.education__item, .work__item {
    padding-left:25px;
    padding-top: 5px;
    position: relative;
    &:first-child{
        padding-top: 0;
    }

}

.work__item{

}
.education__date, .work__date {
    color: #5a5a5a;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    &::before{
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    border-radius: 50%;
    left:  -9px;
    border: 2px solid #362cb2;
    }
    &:first-child{
        margin-top: 0;
    }
}

.education__title, .work__title {
    color: #000000;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;

}

.education__text, .work__text {
    color: #5a5a5a;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;

}

.experience__right {
    width: 47%;
}
