@import "normalize.scss";
@import "font-awesome.min.scss";
@import "sidebar.scss";
@import "footer-resume.scss";
.wrapper{
    min-height: 100vh;
	overflow: hidden;
	position: relative;
    padding: 0;

    &::after{
        content: "";
       display: block;
       height: $height-footer;
       overflow: hidden;
    }
}
.resume{
   width: 86vw;
   margin-left: $width-sidebar+1.25rem;
   margin-right: .94rem;
   padding-bottom: $height-footer+3.75rem;
   /* Portrait tablets and small desktops */
   @media (min-width: 768px) and (max-width: 991px) {
       margin-right: 20px;
       width: 80vw;
   }

   /* Landscape phones and portrait tablets */
   @media (max-width: 767px) {
       margin-right: 20px;
       width: 74vw;
   }

   @media (max-width: 480px) {
      margin-left: 10px;
      margin-right: 10px;
      width: 90vw;
      padding-top: 30px;
      
   }
   /* Для альбомной ориентации телефонов */
   @media (max-width: 767px) and (orientation:landscape) {
       padding-top: 30px;
       margin-left: 10px;
       margin-right: 10px;
        width: 96vw;

   }
   @media (max-width: 480px) and (orientation:landscape) {
       padding-top: 30px;
       width: 100vw;
       margin-left: 10px;
       margin-right: 10px;
       width: 96vw;

   }

}
.resume__container{
   max-width: 59.38rem;
   margin: 0 auto;
   @media (max-width: 480px) {
     max-width:100;
   }

}
.head-section{
   margin-top: 6.25rem;
   border-bottom: .13rem solid #e1e1e1;
   padding-bottom: 2rem;
   position: relative;
   text-align: center;
   &::after{
   position: absolute;
   content: "";
   height: .75rem;
   width: .75rem;
   background: #362cb1;
   border-radius: 50%;
   bottom:  0;
   transform: translateY(50%);
   }
}
.h1{
   font-family: Montserrat;
   font-size: 1.5rem;
   font-weight: 500;
   text-transform: uppercase;
   color: #000000;
}
.h2{
   font-size: 1rem;
   font-weight: 400;
   font-family: Montserrat;
   text-transform: uppercase;
   color: #a8a8a8;

}
.experience {
    display: flex;
    margin-top: 4.69rem;
    flex-wrap: wrap;
    justify-content: space-between;
    /* Landscape phones and portrait tablets */
    @media (max-width: 767px) {

        justify-content:center;
    }

    @media (max-width: 480px) {


       justify-content:center;
    }
}

.experience__left, .experience__right {
    width: 47%;
    min-width: 270px;
}
.experience__right{
    margin-right: 10px;
    @media (max-width: 767px) {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    @media (max-width: 480px) {
      margin-top: 40px;
      margin-bottom: 40px;
    }
    @media (max-width: 767px) and (orientation:landscape) {
        margin-top: 0px;
        margin-left: 15px;
    }
    @media (max-width: 480px) and (orientation:landscape) {
        margin-top: 0px;
        margin-left: 15px;
    }
}

.resume__title {
    background-color:#DDDDDD;
    color: #000000;
    font-family: Montserrat;
    font-size: 1.13rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: .94rem 0 .94rem 1.25rem;
    border-radius: .31rem;

    .fa {
        font-size: 1.38rem;
        color: #362cb1;
        font-weight: 400;
        margin-right: .94rem;

    }
}



.education, .work {
    padding: 0;
    border-left: .13rem solid #d1d1d1;
    margin-top: 3.13rem;
    margin-left: .31rem;
}
.work {

}
.education__item, .work__item {
    padding-left:1.56rem;
    padding-top: .31rem;
    position: relative;
    &:first-child{
        padding-top: 0;
    }

}

.work__item{

}
.education__date, .work__date {
    color: #5a5a5a;
    font-family: Montserrat;
    font-size: .88rem;
    font-weight: 400;
    &::before{
    position: absolute;
    content: "";
    height: .75rem;
    width: .75rem;
    border-radius: 50%;
    left:  -.56rem;
    border: .13rem solid #362cb2;
    }
    &:first-child{
        margin-top: 0;
    }
}

.education__title, .work__title {
    color: #000000;
    font-family: Montserrat;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;

}

.education__text, .work__text {
    color: #5a5a5a;
    font-family: Montserrat;
    font-size: .88rem;
    font-weight: 400;

}
