@import "normalize.scss";
@import "font-awesome.min.scss";
@import "sidebar.scss";
@import "footer.scss";
@import "fm.revealator.jquery.min.scss";
.wrapper{

}
.services{
   width: 86vw;
   margin-left: $width-sidebar+1.25rem;
   margin-right: .94rem;

   border: 1px solid white;
   /* Portrait tablets and small desktops */
   @media (min-width: 768px) and (max-width: 991px) {
       margin-right: 20px;
       width: 80vw;
   }

   /* Landscape phones and portrait tablets */
   @media (max-width: 767px) {
       margin-right: 20px;
       width: 74vw;
   }

   @media (max-width: 480px) {
      margin-left: 10px;
      margin-right: 10px;
      width: 90vw;
      padding-top: 30px;
   }
   /* Для альбомной ориентации телефонов */
   @media (max-width: 767px) and (orientation:landscape) {
       padding-top: 30px;
       margin-left: 10px;
       margin-right: 10px;
        width: 96vw;
   }
   @media (max-width: 480px) and (orientation:landscape) {
       padding-top: 30px;
       width: 100vw;
       margin-left: 10px;
       margin-right: 10px;
       width: 96vw;
   }

}
.services__container, .skill__container, .opinion__container{
   max-width: 59.38rem;
   margin: 0 auto;
   text-align: center;
}
.h1{
   font-family: Montserrat;
   font-size: 1.5rem;
   font-weight: 500;
   text-transform: uppercase;
   color: #000000;
}
.h2{
   font-size: 1rem;
   font-weight: 400;
   font-family: Montserrat;
   text-transform: uppercase;
   color: #a8a8a8;

}
.head-section{
   margin-top: 6.25rem;
   border-bottom: .13rem solid #e1e1e1;
   padding-bottom: 2rem;
   position: relative;
   &::after{
   position: absolute;
   content: "";
   height: .75rem;
   width: .75rem;
   background: #362cb1;
   border-radius: 50%;
   bottom:  0;
   transform: translateY(50%);
   }
}
.advantages {
    margin-top: 4.69rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 0;
    @media (min-width: 992px) and (max-width: 1199px) {
        justify-content: space-around;
    }
        /* Portrait tablets and small desktops */
    @media (min-width: 768px) and (max-width: 991px) {
    justify-content: space-around;
    }

    /* Landscape phones and portrait tablets */
    @media (max-width: 767px) {
    justify-content: space-around;
    }

    /* Landscape phones and smaller */
    @media (max-width: 480px) {
    justify-content: center;
    }

}

.advantages__item {
    flex-basis: 31%;
    padding-left: 0;
    min-width: 16.25rem;
    padding-right: .5rem;
    margin-top: 1.88rem;
}

.advantages__header {
    color: #000000;
    text-align: left;
    display: flex;
    align-items: center;
    .fa {
        color: #FF7400;
        font-size: 2rem;
        font-weight: 600;
    }
    i{
        display: inline-block;
        margin-right: .63rem;
        text-align: left;

    }
}
.adventages__title{
    display: inline-block;
    font-family: Montserrat;
    font-size: .75rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
    width: 70%;
    vertical-align: middle;
}


.advantages__text {
    text-align: justify;
    color: #5a5a5a;
    font-family: Montserrat;
    font-size: .75rem;
    font-weight: 400;
    line-height: 1.25rem;
}
.progress {
    padding: 6.25rem 0;
    background-color: #f7f7f7;
}

.achivment {
    display: flex;
    padding:0;
    margin: 0;

    /* Landscape phones and portrait tablets */
    @media (max-width: 767px) {
        justify-content: center;
        flex-wrap: wrap;
    }
    /* Landscape phones and smaller */
    @media (max-width: 480px) {
      justify-content: center;
      flex-direction: column;
    }
    /* Для альбомной ориентации телефонов */
    @media (max-width: 767px) and (orientation:landscape) {
        flex-direction: row;
        justify-content: space-around;
    }
    @media (max-width: 480px) and (orientation:landscape) {
        justify-content: space-around;
    }
}

.achivment__item {
    margin-right: .94rem;
    .fa{
        color: #FFC840;
        font-size: 2.25rem;
        margin-bottom: .94rem;

    }
    /* Для альбомной ориентации телефонов */
    @media (max-width: 767px) and (orientation:landscape) {
        max-width: 120px;
        justify-content: space-around;
    }
    @media (max-width: 480px) and (orientation:landscape) {
        justify-content: space-around;
        max-width: 120px;
    }

}



.achivment__number {
    color: #35373e;
    font-family: Montserrat;
    font-size: 2.25rem;
    font-weight: 400;
    text-transform: uppercase;
    margin: .63rem 0;
}

.achivment__text {
    color: #5e5e5e;
    font-family: Montserrat;
    font-size: .88rem;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.25rem;

}
.howIWork {

}



.process {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-top: 3.13rem;
}

.process__item {
    margin: 0;
    padding: 0;
    width: 45%;
    position: relative;
    &:nth-child(n){
        text-align: right;
    }
    &:nth-child(2n){
        text-align: left;
        margin-left: 52%
    }



}

.process__number {
    color: #d4d4d4;
    font-family: Montserrat;
    font-size: 2.25rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 0;
}

.process__title {
    color: #000000;
    font-family: Montserrat;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;


}

.process__text {
    color: #5a5a5a;
    font-family: Montserrat;
    font-size: .88rem;
    font-weight: 400;
}
