$width-sidebar: 10rem !global;
*{
    @media (min-width: 768px) and (max-width: 991px) {
    $width-sidebar: 8rem !global;
    }

    /* Landscape phones and portrait tablets */
    @media (max-width: 767px) {

    }

    /* Landscape phones and smaller */
    @media (max-width: 480px) {

    }
}

.body{
   font-family: 'Montserrat', sans-serif;
}
.nav {
   min-width: $width-sidebar;
   background-color: #372db4;
   position: fixed;
   height: 100vh;
   display: flex;
   flex-direction: column;
   overflow-y: scroll;
   &::-webkit-scrollbar-track
   {
	border-radius: .63rem;
		background-color: #372db4;
   }

   &::-webkit-scrollbar
   {
	width: .5rem;
	background-color: #372db4;
   }

   &::-webkit-scrollbar-thumb
   {
	border-radius: .31rem;
	background-color: #b5b0f7;

}
    /* Large desktops and laptops */
    @media (min-width: 1200px) {
        overflow-y: hidden;
    }
    z-index: 100;
        /* Portrait tablets and small desktops */
    @media (min-width: 768px) and (max-width: 991px) {
        height: auto;

        min-width: auto;
    }

    /* Landscape phones and portrait tablets */
    @media (max-width: 767px) {
        height: auto;
        margin-top: 50px;
        min-width: auto;
    }

    /* Landscape phones and smaller */
    @media (max-width: 480px) {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0px;
    }
    /* Delite scrollbar fo long device */
    @media (min-height: 920px) and (max-width: 1400px) {

    }
}

.user {
   background-color: #fff;
   padding-top: 10%;
   padding-bottom:.94rem;
   @media (min-width: 768px) and (max-width: 991px) {
    display: none;
   }
   @media (max-width: 767px) {
    display: none;
   }

   /* Landscape phones and smaller */
   @media (max-width: 480px) {
    display: none;
   }
}
.img-wrap {
   width: 7.5rem;
   height: 7.5rem;
   margin: 0 auto;
   margin-bottom: .63rem;
}

.user__img {
   max-height: 100%;
   border-radius: 50%;
}

.user__text {
   margin-top: 1.25rem;
   font-family: 'Montserrat', sans-serif;
   font-size: 1rem;
   font-weight: 600;
   color: #2a2a2a;
   text-align: center;
   margin: 0;
}
.menu {
   margin: 0;
   padding-left:0;
   flex-grow: 1;
   @media (min-width: 768px) and (max-width: 991px) {

   }

   /* Landscape phones and portrait tablets */
   @media (max-width: 767px) {


   /* Landscape phones and smaller */
   @media (max-width: 480px) {
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       justify-content: space-around;
   }
   }

}

.menu__item {
   box-sizing: border-box;
   .fa{
      color: #b5b0f7;
      font-size: 1.63rem;
      transition-property: color, font-size;
      transition-duration: 0.5s;
   }
   border-top: 1px solid #493fc8;
   margin: 0;
   text-align: center;

   &:last-child {
      padding-bottom: .31rem;
      border-bottom: 1px solid #493fc8;
   }
   &:hover{
      background-color: #493fc8;
      .fa{
         color: #fff;
         font-size: 2rem;
      }
   }
   @media (min-width: 768px) and (max-width: 991px) {
    padding: 5px;
   }
   @media (max-width: 767px) {

   }
   /* Landscape phones and smaller */
   @media (max-width: 480px) {


   }
}

.menu__link {
   display: block;
   padding:11% 0 .31rem 0;
   @media (min-width: 768px) and (max-width: 991px) {
    padding: 5px;
   }
   @media (max-width: 767px) {

   }
   /* Landscape phones and smaller */
   @media (max-width: 480px) {
      padding: 15px 10px;

   }
}

.menu__icon {

}

.menu__text {
   text-transform: uppercase;
   font-size: .88rem;
   font-weight: 500;
   color: #ffffff;
       /* Landscape phones and portrait tablets */
    @media (max-width: 767px) {

    }

    /* Landscape phones and smaller */
    @media (max-width: 480px) {
    display: none;

    }
}
.social {
   background-color: #393fc8;
   margin: 0;
   padding: .88rem 0;
   text-align: center;
   @media (min-width: 768px) and (max-width: 991px) {
    padding: 5px;
   }
   @media (max-width: 767px) {

   }
   /* Landscape phones and smaller */
   @media (max-width: 480px) {
    display: none;

   }
}

.social__item {
   display: inline-block;
   padding: .44rem;
   &:hover{
      .fa{color: #fff;}

   }
}

.social__link {
   .fa{
      color: #b5b0f7;
      font-size: 1.38rem;
      transition: 0.4s;
   }
   &:hover{
      .fa{
         transform: scale(1.3)
      }
   }
}

.social__icon {

}
